html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  min-width: 960px;

  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #ffffff;
  color: #32425c;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  display: block;
  border: none;
  border-radius: 3px;
  background-color: #000000;
  color: #ffffff;

  cursor: pointer;
}

.header {
  background-color: #f3f7f8;
}

.header__menu-container {
  background-color: #293449;
  color: #ffffff;
}

.header__menu {
  display: flex;
}

.logo {
  display: block;
  width: 220px;
  padding: 11px 56px 8px 55px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b72c36;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9c2830;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8d1e26
}

.search-form {
  position: relative;
}

.search-form__icon {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;

  cursor: pointer;
}

.search-form:hover .search-form__icon {
  opacity: 1;
}

.search-form__input {
  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  width: 270px;
  height: 42px;
  padding-left: 49px;
  background-color: #293449;
  border: none;
}

.search-form__input:hover {
  background-color: #212a3a;
}

.search-form__input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-form__input:focus ~ .search-form__icon {
  opacity: 1;
}

.search-form__input:focus ~ .search-form__icon path {
  fill: red;
}

.search-form__input::placeholder {
  color: #ffffff;
}

.button--bookmarks {
  position: relative;

  width: 150px;
  border-radius: 0;
  padding: 12px 0;
  padding-left: 44px;
  background-color: #293449;
}

.button--bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.button--bookmarks:hover::before {
  opacity: 1;
}

.button--bookmarks:active::before {
  opacity: 0.5;
}

.button--cart {
  position: relative;

  width: 150px;
  border-radius: 0;
  padding: 12px 0;
  padding-left: 50px;
  background-color: #293449;
}

.button--cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.button--cart:hover::before {
  opacity: 1;
}

.button--cart:active::before {
  opacity: 0.5;
}

.button--order {
  width: 150px;
  border-radius: 0;
  padding: 12px 0;
  padding-left: 20px;
  background-color: #63a63e;
}

.button--bookmarks:hover,
.button--cart:hover {
  background-color: #212a3a;
}
.button--bookmarks:active,
.button--cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.button--cart-filled {
  background-color: #ee3643;
}

.button--cart-filled:hover {
  background-color: #ca2c37;
}

.button--cart-filled:active {
  background-color: #ba2732;
}

.button--order {
  background-color: #63a63e;
}

.button--order:hover {
  background-color: #5fbb2d;
}

.button--order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header__info {
  display: flex;
  margin-top: 46px;
}

.header__slogan {
  width: 196px;
  margin: 0 53px;

  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.header__contacts-container {
  width: 270px;

  display: flex;
  flex-direction: column;
}

.header__contacts-tel {
  position: relative;

  display: block;
  width: 270px;
  border: 3px solid #ffffff;
  padding-left: 74px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 46px;

  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.header__contacts-tel::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 13px;

  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__contacts-address {
  font-size: 14px;
  line-height: 24px;

  align-self: center;
}

.header__logged-user {
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.header__logged-user:active {
  color: rgba(0, 0, 0, 0.3);
}


.header__userpic {
  margin-right:  10px;
  vertical-align: middle;
  text-align: center;
}

.header__user-singout-button {
  margin-top: 3px;
  margin-left: 35px;
}

.header__user-singout-button:active g path {
  fill: #c5c5c5;
}

.header__auth--unlogged {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 69px;
}

.header__auth--logged {
  display: flex;
  align-items: center;
  align-self: flex-start;

  width: 299px;
  padding-top: 12px;
  padding-bottom: 9px;
  padding-left: 13px;
  background-color: #ffffff;
}

.header__auth--logged:hover path {
  fill: #32425c;
}


.header__logged-user:active path {
  fill: #c5c5c5;
}

.button--signin {
  position: relative;

  display: block;
  width: 121px;
  padding: 12px 0;
  padding-left: 49px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 0;

  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.button--signin svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.button--signin:hover path {
  fill: #32425c;
}

.button--signin:active path {
  fill: #c5c5c5;
}


.button--signup {
  display: block;
  width: 150px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;
  border-radius: 0;

  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.button--signin:hover,
.button--signup:hover {
  color: #ee3643;
}

.button--signin:active,
.button--signup:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__user-auth-nav-container {
  margin-left: 51px;
}

.user-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 2px;
  margin-left: 15px;
  padding: 0;
}

.user-nav__item {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-nav__item:last-child {
  position: relative;

  margin-left: 30px;
}

.user-nav__item:last-child::after {
  content: "";

  position: absolute;
  left: -17px;
  top: 7px;

  width: 4px;
  height: 5px;

  background-image: url("../img/list-style-dot.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav__item:hover {
  color: #ee3643;
}

.user-nav__item:active {
  color: rgba(50, 66, 92, 0.3);
}

.header__nav {
  display: flex;
  padding-top: 64px;
  padding-bottom: 80px;
}

.header__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #32425c;

  list-style: none;
}

.header__nav-link {
  padding: 0 34px;
  padding-top: 20px;
  padding-bottom: 17px;
  text-align: center;
  border-bottom: 5px solid #293449;
  background-color: #32425c;

  color: #ffffff;
}

.header__nav-link:hover {
  background-color: #293449;
}

.header__nav-link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid #1d2739;
  ;
}

.proposals {
  margin-top: 59px;
}

.proposals__top-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.proposals__bottom-list {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  list-style: none;
}

.proposals__top-item,
.proposals__bottom-item {
  border: 1px solid transparent;
  width: 300px;
  color: #ffffff;
}

.proposals__top-item:not(:first-child) {
  margin-left: 20px;
}

.proposals__bottom-item:not(:first-child) {
  margin-top: 20px;
}

.proposals__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  margin-top: 21px;
  margin-left: 26px;
  margin-bottom: 15px;
}

.button--proposals {
  display: block;
  width: 135px;
  margin-left: 28px;
  margin-bottom: 17px;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button--proposals:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button--proposals:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.proposals__new-item {
  position: relative;
}

.proposals__new-icon {
  position: absolute;
  top: -1px;
  right: -1px;

  content: "";

  width: 60px;
  height: 59px;

  background-image: url("../img/new_flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.proposals__item--materials {
  position: relative;
  background-color: #ffbf47;
}

.proposals__item--materials::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.proposals__item--tools {
  position: relative;
  background-color: #3bbce3;
}

.proposals__item--tools::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.proposals__item--machines {
  position: relative;
  background-color: #dc91d8;
}

.proposals__item--machines::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.proposals__item--discounts {
  position: relative;
  background-color: #8ed78f;
}

.proposals__item--discounts::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.proposals__item--delivery {
  position: relative;
  background-color: #ffc047;
}

.proposals__item--delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.proposals__bottom-list-container {
  display: flex;
  margin-top: 20px;
}


.proposals__slider {
  position: relative;
  z-index: 1;

  width: 620px;
  background-color: grey;
}

.proposals__slider-controls {
  color: #ffffff;
}

.proposals__slide-list  {
  padding: 0;
  margin: 0;
  list-style: none;
}

.proposals__slide {
  color: #ffffff;
}

.proposals__slide-toggle {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.8s linear;
}

.proposals__slide-title {
  position: absolute;
  left: 24px;
  top: 27px;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

  margin: 0;
}

.proposals__slide-text {
  position: absolute;
  left: 25px;
  top: 65px;

  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

.proposals__slide-img {
  position: absolute;
  z-index: -1;
}

.button--proposals-slider {
  position: absolute;
  left: 25px;
  bottom: 22px;

  display: block;
  width: 195px;
  padding-left: 49px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ee3643;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.proposals__slider-prev-icon {
  position: absolute;
  top: 114px;
  left: 25px;

  width: 22px;
  height: 40px;

  content: "";

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.proposals__slider-next-icon {
  position: absolute;
  top: 114px;
  right: 20px;

  width: 22px;
  height: 40px;

  content: "";

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  cursor: pointer;
}

.proposals__slider-radio {
  position: absolute;
  bottom: 36px;
  left: 295px;

  width: 10px;
  height: 10px;

  content: "";

  background-image: url("../img/radio-unchecked.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  cursor: pointer;
}

.proposals__slider-label:last-of-type .proposals__slider-radio {
  bottom: 36px;
  left: 315px;
}

.checked-radio {
  background-image: url("../img/radio-checked.png");
}

.popular__title-container {
  display: flex;
  align-items: center;
  max-width: 940px;
  margin-top: 53px;
  padding: 5px 0;
  background-color: #f9f5f0;
}

.popular__list {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-top: 21px;
  padding: 0;

  list-style: none;
}

.popular__title {
  margin-left: 30px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.button--popular {
  display: block;
  width: 253px;
  padding: 10px 0;
  margin-left: 373px;
  text-align: center;
  background-color: #ee3643;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-card {
  position: relative;

  font-family: "PT Sans", "Arial", sans-serif;

  width: 220px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.product-card:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-card:hover .product-card__buttons-container {
  display: block;
}

.product-card:hover .product-card__icon-new {
  display: none;
}

.product-card__title {
  width: 160px;
  margin: 0 auto;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.product-card__old-price {
  display: block;
  margin: 0 75px;
  margin-top: 13px;

  color: #a9a9a9;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.product-card__button-price-buy {
  position: relative;
  display: block;
  width: 141px;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 21px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 36px;
  background-color: #ee3643;
  border-radius: 3px;

  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.product-card__button-price-buy:after {
  content: "";
  
  position: absolute;
  top: 0px;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 18px solid white;
  border-left-color: #ee3643;
}

.popular__item {
  position: relative;
}

.popular__item:last-child .product-card__button-price-buy {
  margin-top: 43px;
}

.product-card__buttons-container {
  display: none;

  position: absolute;
  top: 1px;
  left: 1px;

  padding: 40px;

  background: #ffffff;
}

.product-card--new {
  position: relative;
}

.product-card__icon-new {
  position: absolute;
  top: -1px;
  right: -1px;

  content: "";

  width: 60px;
  height: 59px;

  background-image: url("../img/new_flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button--buy {
  display: block;
  width: 135px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 49px;
  border-bottom: 3px solid #367315;
  background-color: #63a63e;

  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button--add-bookmark {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-top: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  background-color: #ffffff;
  border: 3px solid #63a63e;

  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button--buy:hover {
  background-color: #5fbb2d;
}

.button--buy:active {
  background-color: #518534;
  border-color: #518534;
}

.button--add-bookmark:hover {
  border: 3px solid #32425c;
}


.button--add-bookmark:active {
  opacity: 0.3;
}

.manufacturers__title-container {
  display: flex;
  align-items: center;
  max-width: 940px;
  margin-top: 21px;

  background-color: #f9f5f0;
}

.manufacturers__title {
  margin-left: 30px;

  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.button--manufacturers {
  display: block;
  width: 253px;
  padding: 10px 0;
  margin-left: 269px;
  text-align: center;
  background-color: #ee3643;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.manufacturers__list {
  display: flex;
  width: 940px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  list-style: none;
}

.manufacturers__item {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.manufacturers__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers__item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.manufacturers__item:nth-child(n+5) {
  margin-top: 20px;
}

.manufacturers__link {
  width: 220px;
  height: 145px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.services__container {
  margin-top: 85px;

  background-color: #f4f8f9;
}

.services {
  padding-top: 68px;
  padding-bottom: 99px;
}

.services__title {
  margin: 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services__text {
  width: 398px;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  margin-top: 20px;
}

.services__slider {
  display: flex;

  margin-top: 65px;
}

.services__slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__slide-1,
.services__slide-2,
.services__slide-3 {
  display: none;
}

.services__slider-input-1:checked ~ .services__slide-list .services__slide-1,
.services__slider-input-2:checked ~ .services__slide-list .services__slide-2,
.services__slider-input-3:checked ~ .services__slide-list .services__slide-3 {
  display: block;
}

.services__slider-label-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 240px;

  color: white;
}

.services__slider-label-list::after {
  position: absolute;
  right: -1px;
  top: -40px;


  content: "";

  width: 10px;
  height: 279px;
  
  background-image: url("../img/border-services.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__slider-label {
  width: 240px;
  padding-top: 16px;
  padding-left: 23px;
  padding-bottom: 15px;
  background-color: #32425c;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;

  cursor: pointer;
}

.services__slider-label:hover {
  background-color: #293449;
}

.services__slider-input-1:checked ~ .services__slider-label-list .services__slider-label[for="s1"],
.services__slider-input-2:checked ~ .services__slider-label-list .services__slider-label[for="s2"],
.services__slider-input-3:checked ~ .services__slider-label-list .services__slider-label[for="s3"] {
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;

  color: #32425c;
}

.services__slide {
  position: relative;
  
  margin-left: 80px;
}

.services__slide-title {
  color: #32425c;
  font-family: Cuprum;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  margin-top: 5px;
}

.services__slide-text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  margin-top: 35px;
}

.services__slide-1::after {
  position: absolute;
  top: 10px;
  right: -340px;

  content: "";

  width: 468px;
  height: 261px;

  background-image: url("../img/delivery-car.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__slide-1 .services__slide-text {
  width: 279px;
}

.services__slide-2 .services__slide-text {
  width: 379px;
}

.services__slide-2::after {
  position: absolute;
  top: 10px;
  right: -320px;

  content: "";

  width: 468px;
  height: 261px;

  background-image: url("../img/guarantee-medal.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__slide-3 .services__slide-text {
  width: 279px;
}

.services__slide-3::after {
  position: absolute;
  top: 10px;
  right: -340px;

  content: "";

  width: 468px;
  height: 261px;

  background-image: url("../img/papers.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button--services {
  display: block;
  width: 195px;
  margin-top: 26px;
  padding: 10px 0;
  text-align: center;
  background-color: #ee3643;

  font-family: "Cuprum";
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.about {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-top: 82px;
  margin-bottom: 86px;
}

.about__info {
  width: 520px;
}

.about__contacts {
  width: 300px;
}

.about__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  margin: 0;
}

.about__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.about__item::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #ee3643;
}

.about__item:not(:first-child) {
  padding-top: 20px;
}

.button--about-more {
  display: block;
  width: 220px;
  padding: 10px 0;
  margin-top: 35px;
  text-align: center;
  background-color: #ee3643;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button--about-feedback {
  display: block;
  width: 300px;
  padding: 10px 0;
  margin-top: 35px;
  text-align: center;
  background-color: #ee3643;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button--services:hover,
.button--proposals-slider:hover,
.button--services:hover,
.button--popular:hover,
.button--manufacturers:hover,
.button--popup:hover,
.button--about-feedback:hover,
.button--about-more:hover {
  background-color: #ca2c37;
}

.button--services:active,
.button--proposals-slider:active,
.button--services:active,
.button--popular:active,
.button--manufacturers:active,
.button--popup:active,
.button--about-feedback:active,
.button--about-more:active {
  background-color: #ba2732;
}

.footer {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;

  background-color: #293449;
}

.footer__menu-container {
  background-color: #32425c;
}

.footer__nav-container {
  display: flex;
  justify-content: space-between;
}

.footer__nav-item:not(:last-child) {
  margin-right: 60px;
}

.footer__contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}


.footer__proposals-item:not(:last-child) {
  margin-right: 60px;
}

.logo--footer {
  padding: 19px 56px 14px 55px;
}

.footer__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  list-style: none;
}


.footer__proposals-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  list-style: none;
}

.footer__proposals-item {
  color: #ffd180;
}

.footer__nav-item:hover,
.footer__proposals-item:hover {
  text-decoration: underline;
}

.footer__nav-item:active,
.footer__proposals-item:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer__copyrights {
  margin: 0;
}

.footer__social-list {
  display: flex;
  width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__social-item:not(:first-child) {
  margin-left: 3px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 42px;

  background-color: #212a3a;
  border-radius: 50%;
}

.footer__social-link:hover,
.footer__social-link:active {
  background-color: #ee3643;
}

.footer__feedback-container {
  display: flex;
}

.footer__feedback,
.footer__developer {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
}

.footer__feedback {
  width: 135px;
  margin-right: 53px;
}

.footer__email,
.footer__developer-link {
  color: #ffd180;
}

.footer__developer {
  width: 96px;
  margin: 0;
}

.map-popup__container {
  position: absolute;

  bottom: 374px;
  left: 50%;

  margin-left: -480px;
}

.map-popup {
  position: relative;

  height: 440px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.button--close-map-icon {
  content: "";

  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.popup {
  position: absolute;
  bottom: 200px;
  left: 50%;

  width: 620px;
  margin-left: -310px;
  padding-top: 48px;
  border-top: 7px solid #ff5357;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

  background-color: #ffffff;
}

.popup__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0 auto;
}

.popup__form {
  display: flex;
  flex-wrap: wrap;
}

.popup__form input,
.popup__form textarea {
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 15px;
}

.popup__input-container {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
}

.popup__input-container:nth-child(2) {
  margin-left: 20px;
}

.popup__input {
  width: 220px;
  margin-top: 13px;
}

.popup__title {
  color: #000000;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 18px;
}

.popup__textarea-container {
  width: 460px;
  margin-top: 22px;
}

.popup__textarea {
  width: 460px;
  height: 114px;
  margin-top: 13px;

  resize: vertical;
}

.popup__button-container {
  width: 620px;
  margin-top: 37px;
  padding: 37px 0;
  background-color: #f4f4f4;
}

.button--popup {
  width: 460px;
  padding: 10px 0;
  background-color: #ee3643;
  
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button--close-popup-icon {
  content: "";

  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

/* Catalog styles */

.page-title {
  width: 940px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  background-color: #f2f6f8;

  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  width: 940px;
  margin: 0 auto;
  order: -1;
}

.breadcrumbs__list {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs__item:not(:first-child)::before {
  display: inline-block;
  content: "";

  width: 8px;
  height: 12px;
  margin-right: 16px;

  vertical-align: middle;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products-container {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.filter {
  width: 220px;
}

.filter__title {
  display: block;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  background-color: #f7f3ec;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.filter__price-fieldset {
  border: none;
  border-bottom: 1px solid #eaeaea;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-bottom: 25px;
}

.filter__range {
  width: 220px;
  margin-top: 7px;
}

.filter__range-controls {
  position: relative;
  
  width: 220px;
  margin-bottom: 15px;
  padding: 39px 0;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f7f3ec;
  
  border-radius: 5px;
}

.filter__range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.filter__range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.filter__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.filter__toggle::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 3px;
  height: 3px;

  margin-top: -1px;
  margin-left: -1.5px;

  border-radius: 50%;
  background-color: #ababab;
}

.filter__range-controls .toggle-min {
  left: 18px;
}

.filter__range-controls .toggle-max {
  left: 140px;
}

.filter__price-controls {
  font-size: 0;
}

.filter__price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.filter__price-controls input {
  width: 95px;
  padding: 8px 10px;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background-color: #f7f3ec;
}

.filter__max-price input {
  margin-left: 15px;
}

.filter__max-price {
  position: relative;
}

.filter__max-price::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -5px;

  width: 10px;
  height: 1px;

  background-color: #000000;
}

.filter__subtitle {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter__manufaturers-fieldset {
  display: flex;
  border: none;
  border-bottom: 1px solid #eaeaea;
  margin: 0;
  margin-top: 18px;
  padding: 0;
  padding-bottom: 25px;
}

.filter__label {
  display: inline-block;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 3px;

  margin-left: 35px;

  cursor: default;
}

.filter__check-box {
  content: "";

  margin-top: 15px;
  width: 23px;
  height: 23px;

  vertical-align: middle;
  text-align: center;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.filter__checkbox[id="bosch"]:checked ~ .filter__check-box[for="bosch"],
.filter__checkbox[id="interskol"]:checked ~ .filter__check-box[for="interskol"],
.filter__checkbox[id="makita"]:checked ~ .filter__check-box[for="makita"],
.filter__checkbox[id="dewalt"]:checked ~ .filter__check-box[for="dewalt"],
.filter__checkbox[id="hitachi"]:checked ~ .filter__check-box[for="hitachi"] {
  background-image: url("../img/checkbox-on.svg");
}

.filter__checkbox[id="bosch"]:disabled ~ .filter__check-box[for="bosch"],
.filter__checkbox[id="interskol"]:disabled ~ .filter__check-box[for="interskol"],
.filter__checkbox[id="makita"]:disabled ~ .filter__check-box[for="makita"],
.filter__checkbox[id="dewalt"]:disabled ~ .filter__check-box[for="dewalt"],
.filter__checkbox[id="hitachi"]:disabled ~ .filter__check-box[for="hitachi"] {
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.3;
}

.filter__checkbox[id="bosch"]:checked:disabled ~ .filter__check-box[for="bosch"],
.filter__checkbox[id="interskol"]:checked:disabled ~ .filter__check-box[for="interskol"],
.filter__checkbox[id="makita"]:checked:disabled ~ .filter__check-box[for="makita"],
.filter__checkbox[id="dewalt"]:checked:disabled ~ .filter__check-box[for="dewalt"],
.filter__checkbox[id="hitachi"]:checked:disabled ~ .filter__check-box[for="hitachi"] {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.3;
}

.filter__power-fieldset {
  display: flex;
  border: none;
  margin: 0;
  margin-top: 18px;
  padding: 0;
}

.filter__radio {
  content: "";
  
  margin-top: 15px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.filter__radio-input[id="acum"]:checked ~ .filter__radio[for="acum"],
.filter__radio-input[id="socket"]:checked ~ .filter__radio[for="socket"] {
  background-image: url("../img/radio-on.svg");
}

.filter__radio-input[id="acum"]:disabled ~ .filter__radio[for="acum"],
.filter__radio-input[id="socket"]:disabled ~ .filter__radio[for="socket"] {
  opacity: 0.3;
}

.filter__radio-input[id="acum"]:checked:disabled ~ .filter__radio[for="acum"],
.filter__radio-input[id="socket"]:checked:disabled ~ .filter__radio[for="socket"] {
  background-image: url("../img/radio-on.svg");
  opacity: 0.3;
}

.button--filter {
  width: 140px;
  margin-top: 65px;
  padding-top: 8px;
  padding-bottom: 9px;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
}

.products {
  width: 700px;
  margin-left: 20px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  list-style: none;
}

.products__list .product-card:not(:nth-child(3n)) {
  margin-right: 20px;
}

.products__list .product-card:nth-child(n+4) {
  margin-top: 20px;
}

.products__sort {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f3ec;
}

.products__sort-title {
  margin: 0;
  margin-left: 19px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.products__sort-type {
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  cursor: pointer;
}

.products__sort-type {
  border-bottom: 1px dotted #ee3643;

  margin-left: 71px;
}

.products__sort-type:hover {
  border-bottom: 1px solid #ee3643;
}

.products__sort-type:first-of-type {
  margin-left: 139px;
}

.products__sort-radio-price:checked ~ .products__sort-type[for="sort-price"],
.products__sort-radio-type:checked ~ .products__sort-type[for="sort-type"],
.products__sort-radio-functionality:checked ~ .products__sort-type[for="sort-functionality"] {
  border: none;

  color: #ee3643; 
}

.products__sort-ascending-button {
  content: "";

  position: relative;
  bottom: 5px;
  left: 46px;

  width: 11px;
  height: 10px;

  cursor: pointer;
}

.products__sort-descending-button {
  content: "";

  position: relative;
  bottom: 5px;
  left: 65px;

  width: 11px;
  height: 10px;
  
  cursor: pointer;
}

.products__sort-ascending-button:hover path,
.products__sort-descending-button:hover path {
  fill: #231f20;
}

.products__sort-ascending:checked ~ .products__sort-ascending-button[for="sort-ascending"] path,
.products__sort-descending:checked ~ .products__sort-descending-button[for="sort-descending"] path {
  fill: #ee3643;
}

.pagination__list {
  display: flex;

  margin: 0;
  padding: 0;
  margin-top: 52px;
  margin-bottom: 60px;
  list-style: none;
}

.pagination__item:not(:first-child) {
  margin-left: 10px;
}

.pagination__link {
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 14px;

  border: 1px solid #e5e5e5;
  border-radius: 3px;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination__link:hover {
  border: 1px solid #bdc6ca;
}

.pagination__link:active {
  border: 1px solid #ee3643;
}

.pagination__link--current {
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 14px;

  background-color: #ee3643;
  border-radius: 3px;

  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination__link--next {
  padding-left: 31px;
  padding-right: 31px;
}

.info {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #f2f6f8;
}

.info__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.info__text {
  margin: 0;
  margin-top: 25px;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.popup-add {
  position: absolute;
  top: 18%;
  left: 50%;

  width: 620px;
  margin-left: -310px;

  background-color: #ffffff;
  border-top: 7px solid #ff5357;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.popup-add__title {
  position: relative;

  display: inline-block;

  margin: 0;  
  margin-top: 70px;
  margin-left: 179px;

  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.popup-add__title::before {
  position: absolute;
  top: -18px;
  left: -82px;

  content: "";
  
  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popup-add__button-container {
  margin-top: 68px;
  padding: 35px 0;

  background-color: #f1f1f1;
}

.popup-add_button-wrapper {
  display: flex;

  width: 460px;
  margin: 0 auto;
}

.button--make-order {
  width: 220px;
  padding: 10px 0;
  background-color: #ee3643;

  text-align: center;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button--continue {
  width: 220px;
  padding: 10px 0;
  margin-left: 20px;
  background-color: #ffffff;

  text-align: center;
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
