html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1920px;

  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #ffffff;
  color: #32425c;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  display: none;

  /* 
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; */
}

.header {
  background-color: #f3f7f8;
}

.header__menu {
  background-color: #293449;
  color: #ffffff;
}

.header__menu-wrapper {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
}

.header__logo {
  display: block;
  width: 220px;
  padding: 11px 56px 8px 55px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b72c36;
}

.header__logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9c2830;
}

.header__logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8d1e26;
}

.search-form__input {
  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;

  width: 270px;
  height: 42px;
  padding-left: 49px;
  background-color: #293449;
  border: none;
}

.search-form__input:hover {
  background-color: #212a3a;
}

.search-form__input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-form__input::placeholder {
  color: #ffffff;
}

.header__menu-btn {
  display: block;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__bookmarks-btn {
  padding-left: 44px;
}

.header__cart-btn {
  padding-left: 50px;
}

.header__make-order-btn {
  padding-left: 20px;
  padding-right: 22px;
}

.header__bookmarks-btn:hover {
  background-color: #212a3a;
}

.header__bookmarks-btn:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header__cart-btn:hover {
  background-color: #212a3a;
}

.header__cart-btn:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header__cart_filled {
  background-color: #ee3643;
}

.header__cart_filled:hover {
  background-color: #ca2c37;
}

.header__cart_filled:active {
  background-color: #ba2732;
}

.header__make-order-btn {
  background-color: #63a63e;
}

.header__make-order-btn:hover {
  background-color: #5fbb2d;
}

.header__make-order-btn:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header__info-wrapper {
  display: flex;
  margin: 0 auto;
  margin-top: 46px;
  max-width: 940px;
}

.header__slogan {
  width: 196px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 53px;
  margin-left: 53px;

  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.header__contacts-container {
  width: 270px;

  display: flex;
  flex-direction: column;
}

.header__contacts-tel {
  display: block;
  width: 270px;
  border: 3px solid #ffffff;
  padding-left: 74px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 46px;

  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.header__contacts-address {
  font-size: 14px;
  line-height: 24px;

  align-self: center;
}

.header__logged-user {
  display: block;
  width: 299px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 47px;
  background-color: #ffffff;

  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.header__logged-user:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__auth_unlogged {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 69px;
}

.header__auth_logged {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.header__signin-btn {
  display: block;
  width: 121px;
  padding-left: 49px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 10px;
  background-color: #ffffff;

  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.header__signup-btn {
  display: block;
  width: 150px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;

  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.header__signin-btn:hover,
.header__signup-btn:hover {
  color: #ee3643;
}

.header__signin-btn:active,
.header__signup-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__user-auth-nav-container {
  margin-left: 51px;
}

.user-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
}

.user-nav__item {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-nav__item:last-child {
  margin-left: 30px;
}

.user-nav__item:hover {
  color: #ee3643;
}

.user-nav__item:active {
  color: rgba(50, 66, 92, 0.3);
}

.header-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav__wrapper {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 44px;
  padding-bottom: 60px;
}

.header-nav__item {
  display: flex;
  flex-grow: 1;
}

.header-nav__link {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 17px;
  text-align: center;
  border-bottom: 5px solid #293449;
  background-color: #32425c;

  color: #ffffff;
}

.header-nav__link:hover {
  background-color: #293449;
}

.header-nav__link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid #1d2739;
  ;
}

.props__wrapper {
  width: 940px;
  margin: 0 auto;
  margin-top: 59px;
}

.props__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.props__item {
  border: 1px solid transparent;
  width: 300px;
  color: #ffffff;
}

.props__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  margin-top: 21px;
  margin-left: 26px;
  margin-bottom: 15px;
}

.props__btn {
  display: block;
  width: 135px;
  padding: 10px 0;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 28px;
  margin-bottom: 17px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.props__btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.props__btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.props__item_materials {
  background-color: #ffbf47;
}

.props__item_tools {
  background-color: #3bbce3;
  margin-left: 20px;
}

.props__item_machines {
  background-color: #dc91d8;
  margin-left: 20px;
}

.props__item_discounts {
  background-color: #8ed78f;
  margin-top: 20px;
  margin-left: 640px;
}

.props__item_delivery {
  background-color: #ffc047;
  margin-top: 20px;
  margin-left: 640px;
}

.props__slider {
  width: 620px;
}

.props-slide {
  color: #ffffff;
  background-color: darkgrey;
}

.props-slide__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.props-slide__text {
  font-size: 18px;
  line-height: 24px;
}

.props-slide__btn {
  display: block;
  width: 195px;
  padding-left: 49px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ee3643;
  border-radius: 3px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.props-slide__btn:hover {
  background-color: #ca2c37;
  ;
}

.props-slide__btn:active {
  background-color: #ba2732;
}

.popular {}

.popular__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  margin-top: 53px;
  background-color: #f9f5f0;
}

.popular__list {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-top: 21px;
  padding: 0;

  list-style: none;
}

.popular__title {
  margin-left: 30px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.popular__btn-all-popular {
  display: block;
  width: 253px;
  padding: 10px 0;
  margin-right: 24px;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.popular__item {}

.product-card {
  font-family: "PT Sans", "Arial", sans-serif;

  width: 220px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.product-card:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-card__img {}

.product-card__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.product-card__old-price {
  color: #a9a9a9;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.product-card__btn-price-buy {
  display: block;
  width: 141px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  background-color: #ee3643;
  border-radius: 3px;

  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.product-card__btn-buy {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 49px;
  border-bottom: 3px solid #367315;
  background-color: #63a63e;

  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.product-card__btn-bookmarks {
  display: block;
  width: 135px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  border: 3px solid #63a63e;

  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-card__btn-buy:hover {
  background-color: #5fbb2d;
}

.product-card__btn-bookmarks:hover {
  border: 3px solid #32425c;
}

.product-card__btn-buy:active {
  background-color: #518534;
  border-color: #518534;
}

.product-card__btn-bookmarks:active {
  opacity: 0.3;
}

.manufacturers__title-contaier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  margin-top: 21px;

  background-color: #f9f5f0;
}

.manufacturers__title {
  margin-left: 30px;

  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.manufacturers__btn-all-manufacturers {
  display: block;
  width: 253px;
  padding: 10px 0;
  margin-right: 24px;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.manufacturers__list {
  display: flex;
  width: 940px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  list-style: none;
}

.manufacturers__item {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.manufacturers__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers__item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.manufacturers__item:nth-child(5),
.manufacturers__item:nth-child(6),
.manufacturers__item:nth-child(7),
.manufacturers__item:nth-child(8) {
  margin-top: 20px;
}

.manufacturers__link {
  width: 220px;
  height: 145px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  height: 522px;
  width: inherit;
  margin-top: 85px;

  background-color: #f4f8f9;
}

.services__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services__slider {}

.services-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-slider__item {}

.services-slider__title {}

.services-slider__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-slider__credit-request-btn {
  display: block;
  width: 195px;
  padding: 10px 0;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;

  font-family: "Cuprum";
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.services-slider__credit-request_btn:hover {
  background-color: #ca2c37;
}

.services-slider__credit-request_btn:active {
  background-color: #ba2732;
}

.about {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-top: 82px;
}

.about__info {
  width: 520px;
}

.about__contacts {
  width: 300px;
}

.about__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  margin: 0;
}

.about__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.about__list {
  list-style: none;
}

.about__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.about__item:not(:first-child) {
  padding-top: 20px;
}

.about__more-btn {
  display: block;
  width: 220px;
  padding: 10px 0;
  margin-top: 35px;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.about__contacts {}

.about__map {}

.about__feedback-btn {
  display: block;
  width: 300px;
  padding: 10px 0;
  margin-top: 35px;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.footer {
  margin-top: 86px;

  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.footer__menu {
  background-color: #32425c;
}

.footer__menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
}

.footer__logo-nav-container {
  display: flex;
  justify-content: space-between;
}

.footer__nav-item:not(:last-child) {
  margin-right: 60px;
}

.footer__contacts-props-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer__props-item:not(:last-child) {
  margin-right: 60px;
}

.footer__logo {
  display: block;
  width: 220px;
  padding: 19px 56px 14px 55px;
  background-color: #ee3643;
  border-bottom: 5px solid rgba(0, 0, 0, 0.24);
}

.footer__logo:hover {
  background-color: #ca2c37;
}

.footer__logo:active {
  background-color: #ba2732;
}

.footer__nav-list {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__props-list {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__props-item {
  color: #ffd180;
}

.footer__nav-item:hover,
.footer__props-item:hover {
  text-decoration: underline;
}

.footer__nav-item:active,
.footer__props-item:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer__social {
  background-color: #293449;
}

.footer__social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

.footer__feedback-credits-container {
  display: flex;
  align-items: center;
}

.footer__copyrights {
  margin: 0;
}

.footer__social-list {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__feedback {
  margin: 0;
  margin-right: 53px;
}

.footer__feedback,
.footer__credits {
  font-size: 16px;
  line-height: 18px;
}

.footer__email,
.footer__dev {
  color: #ffd180;
}

.footer__credits {
  margin: 0;
}

.page-title {
  width: 940px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  background-color: #f2f6f8;

  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  width: 940px;
  margin: 0 auto;
  order: -1;
}

.breadcrumbs__list {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.title-breadcrumbs-container {
  display: flex;
  flex-direction: column;
}

.filter__title {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.filter__price-fieldset {
  border: none;
}

.filter__subtitle {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter__manufaturers-fieldset {
  border: none;
}

.filter__label {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

}

.filter__power-fieldset {
  border: none;
}

.filter__btn {
  display: block;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 9px;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 3px;

  cursor: pointer;
}

.products__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products__sort-title {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.products__sort-type {
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.info {
  background-color: #f2f6f8;
}

.info__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.info__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
